.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 150ms ease, box-shadow 100ms ease;
  padding: var(--mantine-spacing-xl);
  padding-left: calc(var(--mantine-spacing-xl) * 2);

  @mixin hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.02);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: rem(6px);
    background-image: linear-gradient(
      0,
      var(--mantine-color-pink-6),
      var(--mantine-color-orange-6)
    );
  }
}
p, ul, h1, h2, h3, h4, h5 {
  padding: 5px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}

ol {
  list-style: decimal;
}
ul {
  list-style: circle
}
